header{ 
      background-image: url(../img/pic1.jpg); 
      background-repeat: no-repeat; 
      background-position: center;
      background-attachment: fixed;
      background-color: black;
      background-size: 100%;
     }

 .conteiner{
    margin-top: 1%;
    margin-bottom: 1%;
	margin-right: 5%;
	margin-left: 30%;
	font-family: Arial;
	background-attachment: fixed;
	background-color: black;
    /*background-size: 100%;*/
    opacity: 0.7;
    font-family: Arial;
    font-size: 14;
    border: 1px solid #c3def4;
    border-radius: 8px;
}